<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <span *ngIf="successMessage" style="color: green;text-align: center;">{{successMessage}}</span>
      <c-card-header>Categories
        <a [routerLink]="['/add-category']"><strong style="float: right;">Add Category</strong></a>
      </c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th>
             #
            </th>
            <th>Name</th>
            <th class="text-center">Image</th>            
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categories; index as i">   
            <td>{{i + 1}}</td>         
            <td>
              <div>{{category.categoryName}}</div>             
            </td>
            <td class="text-center">
              <c-avatar
                size="md"
                src="{{ category.categoryImage }}"                
              ></c-avatar>            
            </td>
            <td>
              <select (change)="changeCategoryStatus(category.categoryId);">
                <option value="active" [selected]="category.isActive"> Active </option>
                <option value="inactive" [selected]="!category.isActive"> Inactive </option>               
              </select>
            </td>  
            <td>             
              <strong>
                <a (click)="editCategory(category);">Edit</a>
                /<a (click)="deleteCategory(i, category.categoryId);">Delete</a></strong>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<nav *ngIf="totalPagesCount && totalPagesCount.length>1"aria-label="Page navigation example text-center">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" (click) = "getCategories(currentPage-1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let vv of totalPagesCount;let i = index;" [ngClass]="{'active' : i === currentPage}">  
      <a class="page-link" (click) = "getCategories(i)"> {{ i + 1 }} </a>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" (click) = "getCategories(currentPage+1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>